.PageConnexion{
    justify-content: center;
    margin-top:10%;
    .mire{
        margin:auto;
        display:flex;
        border-radius: 20px;
        align-items: center;
        flex-direction: row;
        width:50%;
        background-color: red;
        .connectionForm{
            border-radius: 20px 0 0 20px;
            width: 50%;
            background-color: rgb(200,200,200);
            margin : 5px;
            input{
                border-radius: 3px;
                border: none;
            }            
            input:focus{
                outline:  none;
            }
            .login{
                display: block;

                
            }

            .mdp{
                display: block;
            }
            .button{
                margin:10px;
                width:40%;
                border-radius: 5px;
                outline: none;
                border:none;

                &:hover{
                    background-color: rgb(255, 234, 234);
                }
            }
        }
        .info{
            padding:10px;
            width:50%;
            color: white;
        }
    }
    
}